@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --light: 400;
  --normal: 500;
  --bold: 700;

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: 13px/1 Spartan, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/bg-pattern-top-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 232px;
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/bg-pattern-bottom-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 232px;
  z-index: -1;
}

.wrapper {
  width: 100%;
  padding: 80px 24px;
}

.ads {
  text-align: center;
}

h2 {
  color: var(--very-dark-magenta);
  font-size: 30px;
  margin-bottom: 22px;
}

.ads p {
  font-size: 13.5px;
  line-height: 1.5;
  margin-bottom: 48px;
  color: var(--dark-grayish-magenta);
  font-weight: var(--normal);
}

.group-stars-review {
  margin-bottom: 50px;
  color: var(--very-dark-magenta);
}

.stars-review {
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12.5px;
  font-weight: var(--bold);
  background-color: var(--light-grayish-magenta);
  border-radius: 10px;
}

.stars-review:nth-child(2) {
  margin: 15px 0;
}

.stars {
  margin-bottom: 12px;
}

.card {
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
  padding: 40px 32px;
  color: var(--light-grayish-magenta);
  font-size: 12px;
  line-height: 1.5;
}

.card:nth-child(2) {
  margin: 15px 0;
}

.buyer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.buyer h3 {
  font-size: 12.5px;
}

.avatar {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 18px;
}

.verified {
  font-size: 11px;
  margin-top: 3px;
  color: var(--soft-pink);
}

footer {
  width: 100%;
  text-align: center;
  font-size: 11px;
}

footer a {
  text-decoration: none;
  color: var(--very-dark-magenta);
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .wrapper {
    padding: 80px 100px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 80px 140px;
  }
}

@media (min-width: 1024px) {
  body::before {
    background-image: url('../images/bg-pattern-top-desktop.svg');
    width: 583px;
    height: 365px;
  }

  body::after {
    background-image: url('../images/bg-pattern-bottom-desktop.svg');
    width: 1090px;
    height: 676px;
  }

  .wrapper {
    height: 80%;
    padding: 100px 80px 0 80px;
  }

  .container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ads {
    width: 400px;
    height: 240px;
    text-align: left;
  }

  .ads h2 {
    font-size: 36px;
  }

  .ads p {
    font-size: 13.5px;
  }

  .group-stars-review {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .stars-review {
    width: 390px;
    height: 50px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .stars-review:nth-child(1){
    margin-left: -60px;
  }

  .stars-review:nth-child(2) {
    margin-left: -30px;
  }

  .stars {
    margin: 0;
  }

  .reviews {
    margin-top: 40px;
    display: flex;
    height: 280px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card:nth-child(2) {
    margin: 0 30px;
    align-self: center;
  }

  .card:nth-child(3) {
    align-self: flex-end;
  }

  .type {
    margin-left: 30px;
    width: 198px;
  }
}